body {
    font-family: 'fontePoppins', sans-serif;
}

.footer {
    background-color: #e35336;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    min-height: 636px;
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 0 60px;
    position: relative;
    z-index: 2;
}

.whitefooter {
    background-color: #FFFFF0;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.description {
    width: 300px;
    max-width: 100%;
    font-size: 20px;
}

.contatoInfo {
    color: #f5f3ef;
}

.contactInfoO {
    color:#e35336;
}

.title {
    margin-top: 60px;
    margin-bottom: 60px;
    font-size: 40px;
}

.titleO {
    color: #e35336;
}

.info {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    height: 20px;
    font-size: 20px;
}

.phone {
    width: 16px;
    height: 16px;
}

.email {
    width: 20px;
    height: 16px;
}

.insta {
    width: 22.5px;
    height: 22.5px;
}

.infoText {
    margin-left: 15px;
}

.navDiv {
    display: flex;
    align-items: center;
}

.navBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.navItem {
    margin-bottom: 35px;
}

.navItem:last-child {
    margin-bottom: 0;
}

.meuLink {
    color: #f5f3ef;
    text-decoration: none;
    font-size: 24px;
}

.meuLinkO {
    color: #e35336;
}

.slogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.slogan .container {
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.logoArtha {
    width: 144px;
    height: 63px;
}

.sloganText {
    padding-top: 15px;
    font-size: 24px;
    color: #f5f3ef;
}

.sloganTextO {
    color: #e35336;
}

.madeBy {
    color: #f5f3ef;
    text-align: center;
}

.madeByO {
    color: #e35336;
}
