.button {
    background-color: #7E8C54;
    border-radius: 25px;
    margin-left: auto;
    margin-top: 20px;
    margin-right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 128px;
    height: 25px;
    
}

p {
    font-family: 'fontePoppins', sans-serif;
    color: white;
    font-size: 16px;
    width: 73px;
    height: 23px
}

.navBar_Banner {
    position: relative;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarHome {
    position: relative;
    z-index: 3;
}

.banner {
    position: absolute;
    top: 70%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -8%);
    object-fit: cover;
    z-index: 2;
}

.projects {
    display: flex;
}